<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jooney x Fin2B</title>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/custom.css" type="text/css"/>
</head>
<body>
    {{{body}}}
</body>
</html>
