<div class="password-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Change Password</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <br>
                <p class="text-center">Use the form below to change your password.
                    <br>Your password cannot be the same as your username.</p>
                <form method="post" id="passwordForm">
                    <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <span id="isvalid" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Valid<br>
                        </div>
                    </div>
                    <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-12">
                            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                        </div>
                    </div>
                </form>
            </div><!--/col-sm-6-->
        </div><!--/row-->
    </div>
</div>
<script src="/js/password.js" charset="utf-8"></script>
