<div class="container">
    <div class="form-group">
      <label for="n">Input N:</label>
      <input type="text" class="form-control" id="n">
      <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Calculating..." value="Calculate!" id="calcFibonacci">
    </div>
    <div class="form-group">
      <br><br>
      <label>Result</label>
      <h2 for="result" id="result"></h2>
    </div>
</div>
<script src="/js/fibonacci.js" charset="utf-8"></script>
