<div class="container">
    <h1>Hello, Fin2B!</h1>
    <gcse:search></gcse:search>
</div>
<script src="/js/googlesearch.js" charset="utf-8"></script>
<link rel="stylesheet" href="/css/custom.css" type="text/css"/>
