<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Hello, sir!</h1>
        </div>
    </div>
    <gcse:search></gcse:search>
</div>
<script src="/js/googlesearch.js" charset="utf-8"></script>
<link rel="stylesheet" href="/css/custom.css" type="text/css"/>
